<div>
	<nav class="navbar navbar-dark bg-inverse">
		<div>
			<a class="navbar-brand" href="#/">Library</a>
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" ng-if="identified" ng-class="{'textselected': currentUrl == '/articles'}" href="#/articles">Catálogo</a>
				</li>
				<li ng-if="login == 'admin'" class="nav-item">
					<a class="nav-link" ng-if="identified" ng-class="{'textselected': currentUrl == '/copies'}" ng-click="setTab(2)" href="#/copies">Ejemplares</a>
				</li>
				<li ng-if="login == 'admin'" class="nav-item">
					<a class="nav-link" ng-if="identified" ng-class="{'textselected': currentUrl == '/readers'}" ng-click="setTab(3)" href="#/readers">Lectores</a>
				</li>
				<li ng-if="login == 'admin'" class="nav-item">
					<a class="nav-link" ng-if="identified" ng-class="{'textselected': currentUrl == '/loans'}" ng-click="setTab(4)" href="#/loans">Préstamos</a>
				</li>
				<li class="nav-item" ng-if="identified">
					<a class="nav-link logout" ng-click="logout()">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
