<div class="modal-header text-center">
    <h3 class="modal-title">Préstamo</h3>
</div>
<div style="margin-top:20px" class="modal-body ">
  <div style="width:600px; float:left;margin-right:30px">
    <div style="width:45%" class="visualField">
      <h4>Ejemplar</h4>
      {{ entity.copy.article.title}}
    </div>
    <div style="width:45%" class="visualField">
      <h4>Lector</h4>
      {{ entity.reader.firstName + ' ' + entity.reader.lastName}}
    </div>
  </div>

<div style="clear:both">

</div>
</div>
