<div style="margin-top:20px" class="modal-body ">
  <div style="width:600px; float:left;margin-right:30px">
    <div style="width:40%" class="visualField">
      <h4>Nº de referencia</h4>
      {{ entity.recordNumber}}
    </div>
    <div style="width:40%" class="visualField">
      <h4>NIF</h4>
      {{ entity.nif}}
    </div>
    <div style="width:40%" class="visualField">
      <h4>Nombre</h4>
      {{ entity.firstName}}
    </div>
    <div style="width:50%" class="visualField">
      <h4>Apellidos</h4>
      {{ entity.lastName }}
    </div>

    <div style="width:40%" class="visualField">
      <h4>Email</h4>
      {{entity.email}}
    </div>
    <div style="width:30%" class="visualField">
      <h4>Teléfono</h4>
      {{entity.phone}}
    </div>

    <div style="width:100%" class="visualField">
      <h4>Nota</h4>
      {{entity.username}}
    </div>
  </div>
  <div style="float:left">
    <img src="/img/notfound.png" width="200px"/>
  </div>

<div style="clear:both">

</div>
</div>
